body {
  width: 350px;
  min-height: 400px;
  padding: 0;
  margin: 0;
  background-color: rgba(41, 11, 29, 1);
  color: #f0f0f0;
  font-size: 1rem;
  font-family:
    'Inter',
    -apple-system,
    BlinkMacSystemFont,
    'Segoe UI',
    Roboto,
    Oxygen,
    Ubuntu,
    Cantarell,
    'Open Sans',
    'Helvetica Neue',
    sans-serif;
  font-weight: 400;
  overflow-x: hidden;

  :root[data-ive-mobile] & {
    width: 100%;
    height: 100vh;
  }
}

.input {
  display: flex;
  align-items: center;
  gap: 8px;
  width: 100%;
  height: 32px;
  font-size: 14px;
  resize: vertical;
  padding: 8px;
  text-decoration: none;
  border: 1px solid #3d3d3d;
  border-radius: 8px;
  transition: all 0.2s ease;
  background-color: rgba(255, 255, 255, 0.07);
  color: white;

  &:focus {
    border-color: #7b024d;
    box-shadow: 0 0 0 2px rgba(123, 2, 77, 0.3);
    outline: none;
  }

  &:disabled {
    opacity: 0.6;
    cursor: not-allowed;
  }
}

:root {
  --mantine-primary-color-filled: #7b024d;
  --mantine-primary-color-light: rgba(123, 2, 77, 0.1);
  --mantine-primary-color-light-hover: rgba(123, 2, 77, 0.2);
  --mantine-primary-color-light-color: rgba(123, 2, 77, 0.9);
}

.button {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 8px;
  width: fit-content;
  min-width: 100px;
  height: 32px;
  padding: 8px 16px;
  text-align: center;
  text-decoration: none;
  border: 2px solid rgba(255, 255, 255, 0.1);
  border-radius: 8px;
  font-size: 14px;
  transition: all 0.2s ease;
  background-color: transparent;
  font-weight: 500;
  color: white;

  &:hover:not(:disabled) {
    background-color: rgba(255, 255, 255, 0.1);
  }

  &:active:not(:disabled) {
    transform: translateY(1px);
  }

  &:disabled {
    opacity: 0.6;
    cursor: not-allowed;
  }

  &.primary {
    color: white;
    background-color: #7b024d;
    border-color: #7b024d;

    &:hover:not(:disabled) {
      background-color: #a60569;
      border-color: #a60569;
    }
  }
}

[data-portal] {
  position: relative;
  z-index: 2147483641;
}
